<p>
  Formulario de registro
</p>
<form>
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="usuarioRegistro.nombre" name="nombre">
  <label>Apellido</label>
  <input type="text" [(ngModel)]="usuarioRegistro.apellido" name="apellido"> 

  <button type="button" (click)="registroUsuario(usuarioRegistro)">Guardar</button>
</form>
<p>{{}}</p>